@using Shoelace.Views.Extensions
@using Shoelace.Models.Extensions
@model Shoelace.Models.ChangePassword


<div id="cntnrChangePassword">
    <form class="form-changePassword" data-bind="submit: submitChangePassword">
        <div class="control-group" data-bind="validationElement: OldPassword">
            <span class="help-inline" data-bind="validationMessage: OldPassword"></span>
            <input type="password" class="input-block-level" placeholder="Old Password" data-bind="value: OldPassword, valueUpdate: 'afterkeydown'">
        </div>
        <div class="control-group" data-bind="validationElement: NewPassword">
            <span class="help-inline" data-bind="validationMessage: NewPassword"></span>
            <input type="password" class="input-block-level" placeholder="New Password" data-bind="value: NewPassword">
        </div>
        <div class="control-group" data-bind="validationElement: ConfirmPassword">
            <span class="help-inline" data-bind="validationMessage: ConfirmPassword"></span>
            <input type="password" class="input-block-level" placeholder="Confirm Password" data-bind="value: ConfirmPassword">
        </div>
        <button data-dismiss="modal" class="btn">Cancel</button>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
</div>
@Html.PartialResource(@<script src="@Url.Content("~/Scripts/app/Views/Account/changepassword.viewmodel.js")" type="text/javascript"></script>, "js")
@Html.PartialResource(
@<script type="text/javascript">
     $(function () {
        var viewModelObj = APP.manageChangePasswordViewModel(ko.mapping.fromJS(@Html.Raw(Model.ToJson())));
        ko.applyBindings(viewModelObj, document.getElementById("cntnrChangePassword"));
    });
</script>, "js")

